
head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monsterrat:300,400,500,700")
    
    link(rel="stylesheet" href="/bowerComponents/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/css/main.css")