doctype html
html
    include basicHead.pug

    link(href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/forms.css")

    body    
        .container-fluid 
            .row                                                       
                .col-sm-6.col-lg-3
                    form(class="box" action="/applications" method="POST")
                        div(class="form-group")
                            input(placeholder="USERNAME" type="text" name="name")    
                            input(placeholder="PASSWORD" type="text" name="password")
                            input(type="submit", value="LOGIN")
                    button(type="button" onClick="/register")

        script(src="/bowerComponents/jquery/dist/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="/bowerComponents/bootstrap/dist/js/bootstrap.js")
            

        