html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monsterrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    
    body
        .wrapper
            nav
                a(href="/views/subpage") Be a hero, adopt a dog.
        form(method="POST" action="/views/subpage")
            label(for="testInput") testInput:
            input(type="text" name="testInput")

        