html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monsterrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    
        link(rel="stylesheet" href="/bowerComponents/bootstrap/dist/css/bootstrap.css")
    body 
        .container-fluid
            .row                                                         
                .col-sm-12
                    .row.justify-content-center
                        form(class="box" action="/applications" method="POST")
                            input(placeholder="USERNAME" type="text" name="name")    
                            input(placeholder="PASSWORD" type="text" name="password")
                            button send it to me

        script(src="/bowerComponents/jquery/dist/jquery.js")
        script(src="/bowerComponents/bootstrap/dist/js/bootstrap.js")
        

        