nav(class="navbar navbar-expand-md fixed-top" id="topBar")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationBar" aria-controls="navigationBar" aria-expanded="false")
        span(class="navbar-toggler-icon")
            .collapse.navbar-collapse#navigationBar
                ol(class="navbar-nav flex-column")  
                    li(class="nav-item")
                        a(class="nav-link" href="#")="1"
                    li(class="nav-item")
                        a(class="nav-link" href="#")="2"
                    li(class="nav-item")
                        a(class="nav-link" href="#")="3"
                    li(class="nav-item")
                        a(class="nav-link" href="#")="4"