doctype html
html
    include basicHead.pug
    link(rel="stylesheet" href="/css/userPage.css")

    body 
        .container-fluid
            .row
                .col-sm-12.col-lg-5.collumn
                    h1=username
                .col-sm-12.col-lg-5.collumn
                    
                .col-sm-12.col-lg-2.collumn
                    profileImage

                    table(id='userData')
                        tr
                            td Username
                            td=username
                        tr
                            td ID
                            td=id

        script(src="/bowerComponents/jquery/dist/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="/bowerComponents/bootstrap/dist/js/bootstrap.js")