.overlay
{
    max-width: 200px;
    max-height: 200px;
    filter: grayscale(50%);
    position: relative;
}
.overlay i
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 25%;
    left: 25%;
    opacity: 25%;
    transition: 0.2s;
}

#test1234
{
    position: relative;
}

.test123
{
    padding-left: 150px;
}

.overlay i:hover
{
    opacity: 75%;
}

img 
{
    max-width:100%;
    max-height:auto;
}

#topBar
{
    background-color: rgb(36, 36, 36);
}

#topBar ol > li > a
{
    color: #00ff73;
}

.dropdown-item
{
    font-family: 'Baloo Chettan 2', cursive;
    list-style: none;
    color: #00ff73;
    position: relative;
    padding: 10px 0px;
    border-bottom: 1px solid #00ff0d59;
    font-size: 18px;
    padding-left: 30px;
    cursor: pointer;
}
.dropdown-item:hover
{
    color: rgb(0, 255, 34);
}

.dropdown-menu label input
{
    opacity: 0;
}

.dropdown-menu label .check
{
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: black;
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
}
.dropdown-menu label .check:before
{
    content: '';
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background-color: rgb(14, 14, 14);
    border-radius: 2px;
    transition: 0.5s;
    transform: translateX(140px);
}

.dropdown-menu label input:checked ~ .check:before
{
    background-color: rgb(9, 255, 0);
    box-shadow: 0 0 15px rgb(9, 255, 0);
    transform: translateX(0px);
}

.dropdown-menu
{
    background-color: rgb(36, 36, 36);
    padding: 10px 20px;
    width: 200px;
}
.dropdown-item:hover
{
    background-color: rgb(36, 36, 36);
}
.dropdown-item:last-child
{
    border-bottom: none;
}