.collumn
{
    max-width: 1000px;
}

#topBar
{
    background-color: rgb(36, 36, 36);
    height: 100px;
}


@media (max-width: 991.98px)
{
    #navigation
    {
        position: relative;
    }
}
@media (min-width: 991.98px)
{
    #navigation
    {
        margin-top: 100px;
    }
}

#playerStatistics, #playerStatistics td, #playerStatistics th
{
    border: 1px solid purple;
    z-index: 1;
}

#subTable tr td
{
    border: 1px solid red;
    z-index: 1;
}

